Source: nubisave
Section: x11
Priority: extra
Maintainer: Josef Spillner <josef@rumba>
Build-Depends: debhelper (>= 8.0.0), openjdk-6-jdk | openjdk-7-jdk, python-setuptools, libfuse-dev, gcc
Standards-Version: 3.9.2
Homepage: http://nubisave.org/
Vcs-Git: git://nubisave.org/git/nubisave
Vcs-Browser: http://nubisave.org/cgi-bin/gitweb.cgi?p=nubisave

Package: nubisave
Architecture: all
Depends: nubisave-gui, nubisave-splitter, nubisave-cli, nubisave-providers, cloudfusion
Description: Cloud/RAOC storage controller
 NubiSave is a flexible higher-level storage controller for the
 cloud, in particular for Redundant Arrays of Optimal Cloud
 storage providers.
 With NubiSave, data can be dispersed (split) across a number
 of independent providers, thus increasing the security,
 retrieval and transmission quality.
 .
 This meta package installs all parts of NubiSave.

Package: nubisave-splitter
Architecture: all
Depends: ${misc:Depends}, openjdk-7-jre-headless | openjdk-6-jre-headless, libfuse-dev, fuse-utils, davfs2, sshfs, cifs-utils, ssh-askpass, encfs, fusedav, curlftpfs
Description: Cloud/RAOC storage controller
 NubiSave is a flexible higher-level storage controller for the
 cloud, in particular for Redundant Arrays of Optimal Cloud
 storage providers.
 With NubiSave, data can be dispersed (split) across a number
 of independent providers, thus increasing the security,
 retrieval and transmission quality.
 .
 This package contains the splitter filesystem.

Package: nubisave-gui
Architecture: all
Depends: ${misc:Depends}, openjdk-7-jre | openjdk-6-jre
Description: Cloud/RAOC storage controller
 NubiSave is a flexible higher-level storage controller for the
 cloud, in particular for Redundant Arrays of Optimal Cloud
 storage providers.
 With NubiSave, data can be dispersed (split) across a number
 of independent providers, thus increasing the security,
 retrieval and transmission quality.
 .
 This package contains the graphical configuration GUI.

Package: nubisave-cli
Architecture: all
Depends: ${misc:Depends}
Description: Cloud/RAOC storage controller
 NubiSave is a flexible higher-level storage controller for the
 cloud, in particular for Redundant Arrays of Optimal Cloud
 storage providers.
 With NubiSave, data can be dispersed (split) across a number
 of independent providers, thus increasing the security,
 retrieval and transmission quality.
 .
 This package contains the command-line configuration GUI.

Package: nubisave-providers
Architecture: all
Depends: ${misc:Depends}, conqo, conqotool, mysql-server, mysql-client
Description: Cloud/RAOC storage controller
 NubiSave is a flexible higher-level storage controller for the
 cloud, in particular for Redundant Arrays of Optimal Cloud
 storage providers.
 With NubiSave, data can be dispersed (split) across a number
 of independent providers, thus increasing the security,
 retrieval and transmission quality.
 .
 This package contains the provider integration.

Package: cloudfusion
Architecture: all
Depends: ${misc:Depends}, python-simplejson, python-oauth, python-httplib2, python-poster
Description: Cloud/RAOC storage controller
 NubiSave is a flexible higher-level storage controller for the
 cloud, in particular for Redundant Arrays of Optimal Cloud
 storage providers.
 With NubiSave, data can be dispersed (split) across a number
 of independent providers, thus increasing the security,
 retrieval and transmission quality.
 .
 This package contains the CloudFusion transports.
