#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure override_dh_auto_test:

override_dh_auto_build:
	cd splitter && make
	cd CloudFusion && python setup.py build

override_dh_auto_clean:
	cd splitter && make clean
	cd CloudFusion && python setup.py clean
	cd CloudFusion && rm -rf CloudFusion.egg-info/ build/ dist/
	rm -f debian/files

override_dh_auto_install:
	mkdir -p debian/tmp/usr/share/applications
	cp debian/data/nubisave.desktop debian/tmp/usr/share/applications/
	mkdir -p debian/tmp/usr/share/pixmaps
	cp debian/data/nubilogo.png debian/tmp/usr/share/pixmaps/
	mkdir -p debian/tmp/usr/share/nubisave
	cp -r bin splitter fusej services start.sh debian/tmp/usr/share/nubisave/
	#cp -r Jerasure debian/tmp/usr/share/nubisave/
	#rm -rf debian/tmp/usr/share/nubisave/Jerasure/doc debian/tmp/usr/share/nubisave/Jerasure/src
	rm -rf debian/tmp/usr/share/nubisave/fusej/src
	rm -rf debian/tmp/usr/share/nubisave/splitter/src
	sed -i -e 's/R.File=log/R.File=$${user.home}\/.nubisave\/log/' debian/tmp/usr/share/nubisave/splitter/log4j.properties
	sed -i -e 's/CHAINSAW.File=log/CHAINSAW.File=$${user.home}\/.nubisave\/log/' debian/tmp/usr/share/nubisave/splitter/log4j.properties
	mkdir -p debian/tmp/usr/lib/nubisave
	cp -r debian/data/modules debian/tmp/usr/lib/nubisave
	mkdir -p debian/tmp/usr/bin
	cp debian/data/nubisave debian/tmp/usr/bin/
	cp debian/data/nubisave-mounter debian/tmp/usr/bin/
	cp debian/data/devscripts/nubisave-reset debian/tmp/usr/bin/
	cp debian/data/nubisave-unmounter debian/tmp/usr/bin/
	cp debian/data/nubisave-status debian/tmp/usr/bin/
	mkdir -p debian/tmp/var/lib/tomcat6/webapps/Matchmaker/ontologies
	cp services/CloudStorage.wsml debian/tmp/var/lib/tomcat6/webapps/Matchmaker/ontologies/
	mkdir -p debian/tmp/usr/lib/python2.7/site-packages
	mkdir -p debian/tmp/usr/lib/python2.6/site-packages
	cd CloudFusion && PYTHONPATH="../debian/tmp/usr/lib/python2.7/site-packages:../debian/tmp/usr/lib/python2.6/site-packages" python setup.py install --prefix ../debian/tmp/usr
